<h2 class = "center-align">Past Community Bets</h2>

<br>
<br>

<div class='row'>
  <div class="col s12 m4 l2"><p></p></div>

    <div class="col s12 m4 l8 center-align">
      <table>
        <thead>
          <tr>
              <th data-field="username">User Name</th>
              <th data-field="betAmount">Bet Amount</th>
              <th data-field="colorBet">Color Chosen</th>
              <th data-field="colorLanded">Color Landed
              <th data-field="payout">Payout</th>
          </tr>
        </thead>

        <tbody>
          {{#each cats}}
            <tr>
              <td>
                {{this.user_name}}
              </td>
              <td>
                {{this.bet_ammount}}
              </td>
              <td>
                {{this.colorChosen}}
              </td>
              <td>
                {{this.colorLanded}}
              </td>
              <td>
                {{this.payout}}
              </td>
            </tr>
          {{/each}}
        </tbody>

      </table>
    </div>

    <div class="col s12 m4 l2"><p></p></div>
</div>

<br>
<br>